<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.example</string>
	<key>connections</key>
	<dict>
		<key>047C909A-BD30-4606-9C07-C4EF0D6E081B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BAABB9F-5F87-438A-8B3D-22CDFE4367CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D659199-D500-4584-AA98-6A888785F234</key>
		<array/>
		<key>4BAABB9F-5F87-438A-8B3D-22CDFE4367CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDBBD568-FEA8-4E09-B1CE-345014F2F64E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0144979-7CAE-49F6-9614-0CB68A094ED2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>047C909A-BD30-4606-9C07-C4EF0D6E081B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEEA8F01-C528-4F8A-A3D3-F1113700745C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0144979-7CAE-49F6-9614-0CB68A094ED2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDBBD568-FEA8-4E09-B1CE-345014F2F64E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D659199-D500-4584-AA98-6A888785F234</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Son Chu</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Resize Image</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Resize size NODE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AEEA8F01-C528-4F8A-A3D3-F1113700745C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>resizeimage</string>
				<key>subtext</key>
				<string>Resize image to width of {query} px</string>
				<key>text</key>
				<string>Enter target image width</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4BAABB9F-5F87-438A-8B3D-22CDFE4367CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D659199-D500-4584-AA98-6A888785F234</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>A0144979-7CAE-49F6-9614-0CB68A094ED2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:Paths}|{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EDBBD568-FEA8-4E09-B1CE-345014F2F64E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>Paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>047C909A-BD30-4606-9C07-C4EF0D6E081B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>047C909A-BD30-4606-9C07-C4EF0D6E081B</key>
		<dict>
			<key>note</key>
			<string>Store argv as text string sep. with ;</string>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>2D659199-D500-4584-AA98-6A888785F234</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4BAABB9F-5F87-438A-8B3D-22CDFE4367CD</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A0144979-7CAE-49F6-9614-0CB68A094ED2</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>AEEA8F01-C528-4F8A-A3D3-F1113700745C</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>EDBBD568-FEA8-4E09-B1CE-345014F2F64E</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
